<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Thankyou{% endblock %}</title>
</head>
<body>

    <header>
    <h2>Welcome to my side</h2>

        <nav>
        <a href="/">Home</a>
    </nav>

    </header>

    {% with messages = get_flashed_messages() %}    

    {% if messages %}
    <ul style="color: green;">
        {% for mes in messages %}
            <li>{{mes}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    
</body>
</html>